body{
    background-color: black;
}

.quadro{
    display: flex;
    align-items: center;
    justify-content: center;
}

.branco{
    display: flex;
    background-color: white;
    height: 300px;
    width: 300px;
    align-items: center;
    justify-content: center;
}
.branco2{
    display: flex;
    background-color: white;
    height: 80px;
    width: 250px;
    align-items: end;
}

.cinza{
    background-color: gray;
    height: 250px;
    width: 250px;
}